html,
.container,
#app,
#app > div {
  height: 100vh;
  min-height: 100vh;
  background-color: lightgray;
  padding: 10px 40px;
  margin: 2px 50px;
}

.body {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15%;
}
.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 30px 20px;
  min-height: 84.6vh;
  position: relative;
}

.back-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.session-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
*/ .font-weight-bold {
  font-size: 23px;
}

.first-line {
  font-size: 17px;
}

.add-color {
  background-color: rgb(221, 220, 211);
  font-size: 30px;
}

.back-to {
  display: flex;
  flex-wrap: wrap;
  padding:20px;
  margin-left: 185px;
}

.list-style {
  background-color: rgb(245, 237, 241);
  width: 500px;
  height: 30px;
  padding: 10px;
  border: 1px solid red;
  box-sizing: border-box;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mentor-button {
  background-color: red;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  margin: 10px;
  border: none;
  height: 40px;
  width: 120%;
}

.button-back {
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  height: 28px;
  width: 90px;
}

.App-logo {
  height: 5vmin;
  width: 150px;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button {
  background-color: red;
  border-radius: 5px;
  font-weight: bolder;
  color: white;
  margin: 10px;
  font-size: 15px;
  border: none;
  width: 120px;
  height: 36px;
}

.nav {
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100px
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.email {
  margin: 10px;
}

.Space {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 40px;
  font-size: 18px;
}

select {
  width: 220px;
}

.Star {
  background-color: red;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  border: none;
  padding: 10px 24px;
}

.Star-clicked {
  background-color: green;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
}
.Star-logout {
  background-color: crimson;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  border: none;
  padding: 3px 12px;
  font-size: 12px;
}

.select-option {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 40px;
  font-size: 18px;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 2px solid #6c757d;
}

.welcome-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 40px;
  font-size: 20px;
  color:rgb(201, 76, 76)
}

.select-class {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 40px;
  font-size: 25px;
}

.footer {
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.footer_link-item:hover {
  color: rgb(226, 136, 136);
  opacity: 0.7;
}

.footer_link-fb {
  background: #3B5998;
  color: white;
  border-radius: .9rem;
}

.footer_link-insta {
  background: #55ACEE;
  color: white;
  border-radius: .9rem;
}

.footer_link-twitter {
  background: #55ACEE;
  color: white;
  border-radius: .9rem;
}

.copyright {
  margin-top: 10px;
  font-size: 15px;
  font-style: italic;
}

.footer_items {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 1.8rem;
  align-items: center;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px
}

.footer_item {
  border: 0rem solid #14368b;
  border-radius: 50%;
  margin: 0.8rem;
  display: flex;
}