
.App {
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px; 
 
}
.student-list{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: left;

}
.session-list {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding: 50px;
  text-align: left;

}

.mentor-button {
    background-color:red; 
    color:white;
    font-weight: bolder;
    border-radius: 5px;
    margin: 10px; 
  }
  


.App-logo {
  margin-top: 100px;  
  height: 20vmin;
  width: 300px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.button {
  background-color: red;
  border-radius: 5px;
  color: white;
  margin: 10px;

}


.nav {
  
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;  
  margin:100px;
      
}
.table {
  table-layout: auto;
  
 
}

.email{
  margin: 10px;
}
.Space {
  margin: 30px;
}
select {
  width: 220px;
}
.Star{
  background-color:red;
  color:white;
  font-weight: bolder;  
  border-radius: 5px;
}

.Star-clicked {
  background-color: green;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
}
.option{
  box-sizing: 40px;
  margin-top: 10px;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
 
  

}
.copyright{
  margin-top: 10px;
}
.footer_items{
  list-style: none;
}
